@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Outline&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body,
html {
  overflow-x: hidden;
}
h1,
h2 {
  font-family: "Inria Sans", sans-serif;
}

.main,
.text-overlay-section,
.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-bg-wrapper {
  width: 100vw;
  overflow: hidden;
  height: 22em;
  position: relative;
}

.hero-bg-img {
  height: 100%;
  width: 100%;
  aspect-ratio: 4/3;
}
.text-overlay-section {
  background-color: white;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  padding: 2.5em 2em;
  position: absolute;
  margin-top: -2.5em;
  width: 100%;
  gap: 2em;
  text-align: center;
  font-size: 1.1em;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.services-section {
  margin-top: 2em;
  gap: 1.5em;
}
.services-section .grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.service {
  min-width: 20em;
  min-height: 5em;
  background-color: rgb(250, 253, 250);
  border: solid 1px rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.request-services-button {
  padding: 1em;
  border-radius: 15px;
  background-color: rgb(62, 119, 254);
  color: white;
  width: 16em;
  font-weight: 600;
  margin-bottom: 1em;
}
.service-icon {
  width: 2em;
  height: 2em;
}

@media (min-width: 600px) {
  .hero-bg-wrapper {
    height: 27em;
    background-color: rgb(141, 243, 241);
  }
  .hero-bg-img {
    aspect-ratio: 16/9;
    object-fit: contain;
  }
  .text-overlay-section {
    font-size: 1.2em;
    padding: 3em;
    margin-top: -2em;
  }
  .opening-text {
    max-width: 55%;
    margin: 0 auto;
  }
  .services-section .grid {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2em;
  }
  .service {
    min-width: 12em;
    gap: 3em;
  }
}
