@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Outline&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body,
html {
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Inria Sans", sans-serif;
}

.main,
.service-type,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-type {
  gap: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.service-type .grid,
nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
}
.service-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
  padding: 0.5em 0.8em;
  cursor: pointer;
}

.service-option-icon {
  width: 1.2em;
  height: 1.2em;
}

.selected-service {
  background-color: rgb(62, 119, 254);
  color: white;
}

input,
textarea {
  min-width: 26em;
  height: 2.5em;
  padding: 1.5em;
  outline: none;
  border: solid 2px rgb(215, 215, 215);
  border-radius: 8px;
  background-color: rgb(250, 250, 250);
}

textarea {
  height: 12em;
  resize: none;
}

.personal-info,
.service-details,
.locations-info,
.additional-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
  justify-content: center;
}

.submit-button {
  border: none;
  width: 26em;
  color: white;
  padding: 1.2em;
  background-color: rgb(62, 119, 254);
  margin-bottom: 2em;
  border-radius: 12px;
}
@media (min-width: 600px) {
  .service-option-icon {
    width: 1.5em;
    height: 1.5em;
  }
  input,
  textarea {
    min-width: 40em;
  }
}
